In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('spam.csv')

In [3]:
data .head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [4]:
data.rename(columns={'Category' : 'label', 'Message': 'email'}, inplace=True)

In [5]:
data.isnull().sum()

label    0
email    0
dtype: int64

In [6]:
second = pd.read_csv('email_classification.csv')

In [7]:
second.head()

                                               email label
0  Upgrade to our premium plan for exclusive acce...   ham
1  Happy holidays from our team! Wishing you joy ...   ham
2  We're hiring! Check out our career opportuniti...   ham
3  Your Amazon account has been locked. Click her...  spam
4  Your opinion matters! Take our survey and help...   ham

In [8]:
second.isnull().sum()

email    0
label    0
dtype: int64

In [9]:
third = second[['label', 'email']]

In [10]:
third.head()

  label                                              email
0   ham  Upgrade to our premium plan for exclusive acce...
1   ham  Happy holidays from our team! Wishing you joy ...
2   ham  We're hiring! Check out our career opportuniti...
3  spam  Your Amazon account has been locked. Click her...
4   ham  Your opinion matters! Take our survey and help...

In [11]:
third.describe()

       label                                              email
count    179                                                179
unique     2                                                150
top      ham  You've been selected for a free trial of our p...
freq     100                                                  4

In [12]:
data.describe()

       label                   email
count   5572                    5572
unique     2                    5157
top      ham  Sorry, I'll call later
freq    4825                      30

In [13]:
data.shape

(5572, 2)

In [14]:
third.shape

(179, 2)

In [15]:
new_df = pd.concat([data, third], axis = 0)

In [16]:
new_df.head()

  label                                              email
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [17]:
new_df.shape

(5751, 2)

In [18]:
new_df.to_csv('combined.csv', index=False)