In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('combined.csv')

In [4]:
df.head()

  label                                              email
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [5]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()

In [6]:
output = encoder.fit_transform(df['label'])

In [7]:
output

array([0, 0, 1, ..., 0, 0, 1])

In [8]:
df['label'] = output

In [9]:
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
5746    False
5747    False
5748    False
5749    False
5750    False
Length: 5751, dtype: bool

In [10]:
df = df.drop_duplicates(keep='first')

In [11]:
df.shape

(5307, 2)

In [12]:
df.to_csv('duplicated_removed.csv', index=False)